$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

@import "compass/css3";
 
@include font-face("Raleway-semibold", font-files("Raleway-SemiBold.otf"));
@include font-face("Raleway-extralight", font-files("Raleway-ExtraLight.otf"));

$primary-color: #e5e5e5;
$secondary-color: #ff5900;
$tertiary-color: #4E4D49;
$fourth-color: #aaaaaa;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
h1, h2, h3, p {
    font-family: "Raleway-semibold";
    padding: 10px 0;
    margin: 0; 
}

.secondary {
    color: $secondary-color;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer,
.offer,
.sort {
    padding-left: 15px;
    padding-right: 15px;
}

body {
    background: $primary-color;
    font-family: "Raleway-extralight";
}

header, footer {
    background: $tertiary-color; 
    color: #fff;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.radios, .btn-group {
    display: block;
}

.btn-success {
    margin: 20px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer,
    .offer,
    .sort {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    .marketing {
        margin-top: 30px;
    }

    input[type="text"]:focus.has-error,
    input[type="number"]:focus.has-error {
      border-color: red;
      outline: 0;
      outline: thin dotted \9;
      /* IE6-9 */
     
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 1);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 1);
    }

    .offer {
        padding: 10px;
        margin: 5px 0;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border:1px solid $fourth-color;
    }

    .offer:hover {
        background: #ad8282;
        cursor: pointer;
        .type {
            color: $tertiary-color;
        }
    }

    .type {
        line-height: 2em;
        margin: 0 5px 0 0;
        color: $fourth-color;
    }

    .sort a {
        text-decoration: none;
        cursor: pointer;
    }
}
