<div class="row marketing">
  <form name="offerForm" ng-submit="saveOffer(offerTitle, offerPrice, offerType, offerDuration)">

    <!-- OFFER TITLE -->
    <div id="name-group" class="form-group">
      <label>Tytuł aukcji (max. 80 znaków)</label>
      <input type="text" name="title" class="form-control" placeholder="Co chciałbyś sprzedać?"  ng-model="offerTitle" required ng-maxlength="80" ng-class="{'has-error': offerForm.title.$invalid}">
      <span class="help-block"></span>
    </div>

    <div class='row'>
      <div class='col-sm-4'>
          <label>Cena</label>    
          <div class="input-group">
            <input name="price" type="number" class="form-control" ng-model="offerPrice" required>
            <span class="input-group-addon">PLN</span>
          </div>
      </div>
      <div class='col-sm-4'>
          <label>Typ aukcji</label>
          <div class="radios">
              <input type="radio" name="optionsRadios"  ng-model="offerType" value="Aukcja">
              Aukcja
              <input type="radio" name="optionsRadios" ng-model="offerType" value="Kup Teraz">
              Kup Teraz
          </div>
      </div>
      <div class='col-sm-4'>
        <label>Czas trwania (dni)</label>
          <select class="form-control" ng-init="offerDuration=7" ng-model="offerDuration">
            <option value="7">7 (domyślnie)</option>
            <option value="10">10</option>
            <option value="14">14</option>
          </select>
      </div>
    </div>
    <button type="submit" class="btn btn-success btn-lg btn-block" ng-disabled="offerForm.$invalid">
      <span class="glyphicon glyphicon-pencil"></span> Zapisz do schowka
    </button>
  </form>
</div>

<div class="row sort">
  <h2 class="text-center">Zapisane aukcje</h2>
  <p class="pull-left">
      Sortuj: 
      <a ng-click="switchPredicate('data.title')">alfabetycznie</a> | 
      <a ng-click="switchPredicate('data.price')">wg. ceny</a>
  </p>
</div>

<div class="row offer" ng-click="removeOffer(offer)" ng-repeat="offer in offers | orderBy:orderPredicate">
  <div class='col-sm-4'>
    <h3>{{offer.data.title}}</h3>
  </div>
  <div class='col-sm-4'>
    <p>
    <a ng-href="#">allegro.pl{{offer.data.link}}</a>
    </p>
  </div>
  <div class='col-sm-4'>
    <h3 class="pull-right">{{offer.data.price}} PLN</h3>
    <p class="pull-right type">
      {{offer.data.type}} 
    </p>
    <p class="pull-right type">
      Czas trwania: {{offer.data.duration}} dni 
    </p>
  </div>
</div>
